# 1. 주식 종목 수집 및 DB에 저장 (from KRX)

In [1]:
# krx_stock_extraction.py 파일의 클래스 객체를 불러옴
from krx_stock_extraction import kse

### 지정한 기간의 KRX 가격 반환

In [2]:
pr_df = kse.getKRXPrice('STK', '20220602', '20220603')

In [3]:
pr_df

,stock_code,stock_name,date,open,high,low,close,volume,change,ACC_TRDVAL,MKTCAP,LIST_SHRS
0,095570,AJ네트웍스,2022-06-02,7000,7700,6870,7150,2505375,0.0258,18649803910,334779409250,46822295
1,000227,유유제약2우B,2022-06-02,21050,22000,20600,20600,15465,-0.0762,325602700,6706536000,325560
2,001200,유진투자증권,2022-06-02,3280,3300,3235,3260,94242,-0.0121,307106625,315784522680,96866418
3,000100,유한양행,2022-06-02,59500,60000,59100,59600,117011,-0.0132,6958390800,4364595969600,73231476
4,000105,유한양행우,2022-06-02,57800,58000,57100,57700,675,-0.0017,38865800,68140238000,1180940
...,...,...,...,...,...,...,...,...,...,...,...,...
1877,006040,동원산업,2022-06-03,238500,239500,236000,237000,2737,-0.0042,648648500,871600917000,3677641
1878,030720,동원수산,2022-06-03,12300,12400,12100,12100,42659,-0.0163,521269450,56311040500,4653805
1879,014820,동원시스템즈,2022-06-03,55300,55400,54600,55200,16397,0.0110,902562100,1611200287200,29188411
1880,001520,동양,2022-06-03,1385,1405,1375,1390,291347,0.0072,404029790,331770847570,238684063
1881,003280,흥아해운,2022-06-03,2940,2985,2915,2935,241761,0.0017,710890795,705647078565,240424899

### db에 저장

In [2]:
server = '127.0.0.1:3307' # local server
user = 'root' # user name
password = '     ' # 개인 password
db = 'krx_price' # DB 이름

In [5]:
kse.saveKRXPrice(pr_df, 'kospi', server, user, password, db)

# 2. 수정주가 수집 및 DB에 저장 (from FDR)

### 수정주가 데이터 수집

In [3]:
data = kse.get_adjusted_KRXPrice('konex', '2017-06-01', '2022-05-31')

100%|████████████████████████████████████████████████████████████████████████████████| 120/120 [00:08<00:00, 13.85it/s]

### db에 저장

In [12]:
kse.save_adjusted_KRXPrice(data, 'konex', server, user, password, db)

# 3. 재무제표 수집 및 DB에 저장 (from FnGuide)

In [3]:
from tqdm import tqdm

In [4]:
stock_list = kse.read_krx_code()

for stock in tqdm(stock_list):
    data = kse.getIS(stock, 'CONSOLIDATED', 'Q')
    kse.save_financial_statement(data, 'is', 'consolidated', 'q', server, user, password, db)
    
    data = kse.getBS(stock, 'CONSOLIDATED', 'Q')
    kse.save_financial_statement(data, 'bs', 'consolidated', 'q', server, user, password, db)
    
    data = kse.getCF(stock, 'CONSOLIDATED', 'Q')
    kse.save_financial_statement(data, 'cf', 'consolidated', 'q', server, user, password, db)

100%|████████████████████████████████████████████████████████████████████████████| 2499/2499 [2:10:35<00:00,  3.14s/it]

In [4]:
data = kse.getCF('096300', 'CONSOLIDATED', 'Q')
kse.save_financial_statement(data, 'cf', 'consolidated', 'q', server, user, password, db)

096300

In [5]:
for stock in tqdm(stock_list):
    data = kse.getCF(stock, 'CONSOLIDATED', 'Q')
    kse.save_financial_statement(data, 'cf', 'consolidated', 'q', server, user, password, db)

100%|██████████████████████████████████████████████████████████████████████████████| 2499/2499 [40:50<00:00,  1.02it/s]

# 4. db에서 데이터 불러오기

### 수정주가 데이터 불러오기

In [2]:
term = '2022/1'

In [3]:
server = '127.0.0.1' # local server
port = 3307
user = 'root' # user name
password = '      ' # 개인 password
db = 'krx_price' # DB 이름

In [4]:
data, t = kse.get_price(term, 'kospi', server, port, user, password, db)

start_date(2022-01-01) ~ end_date(2022-03-31)

In [5]:
data

,stock_code,period,open,high,low,close,volume,시가총액,상장주식수
0,000020,2022/03,14800.0,15350.0,11250.0,13650.0,214548.0,3.812646e+11,27931470.0
1,000040,2022/03,867.0,1045.0,720.0,889.0,417614.0,8.546612e+10,96137368.0
2,000050,2022/03,13750.0,16000.0,13400.0,15950.0,42169.0,4.372736e+11,27415270.0
3,000060,2022/03,33300.0,53500.0,33300.0,47450.0,298202.0,5.723656e+12,120625000.0
4,000070,2022/03,98300.0,99000.0,79900.0,86100.0,13667.0,7.373837e+11,8564271.0
...,...,...,...,...,...,...,...,...,...
778,402340,2022/03,66900.0,70500.0,49050.0,56800.0,635073.0,8.035358e+12,141467571.0
779,404990,2022/03,5000.0,5160.0,4705.0,5120.0,410552.0,2.864941e+11,55955884.0
780,417310,2022/03,5260.0,5590.0,5260.0,5580.0,565297.0,2.254320e+11,40400000.0
781,900140,2022/03,3740.0,3740.0,3025.0,3415.0,270314.0,3.396398e+11,99455297.0
782,950210,2022/03,20900.0,22500.0,12850.0,20300.0,511003.0,1.219952e+12,60096155.0

In [6]:
t

'2022/03'

### 종목별 주가데이터 불러오기

In [4]:
df = kse.get_price_backtest('005930', '2021/1', 'kospi', server, port, user, password, db)

In [7]:
df

       Code        Date  Close
0    005930  2021-01-04  83000
1    005930  2021-01-05  83900
2    005930  2021-01-06  82200
3    005930  2021-01-07  82900
4    005930  2021-01-08  88800
..      ...         ...    ...
241  005930  2020-12-23  73900
242  005930  2020-12-24  77800
243  005930  2020-12-28  78700
244  005930  2020-12-29  78300
245  005930  2020-12-30  81000

[246 rows x 3 columns]

###  포괄손익계산서 db로부터 불러오기

In [18]:
is_data = kse.get_is_from_db('005930', '2022/03', server, port, user, password, db)

In [19]:
is_data

,stock_code,period,rpt_type,매출액,매출원가,매출총이익,판매비와 관리비,영업이익,금융이익,금융원가,기타수익,기타비용,"종속기업,공동지배기업및관계기업관련손익",세전계속사업이익,법인세비용,계속영업이익,중단영업이익,당기순이익
0,005930,2022/03,CONSOLIDATED_Q,777814.98,470720.57,307094.41,165880.32,141214.09,35021.89,30333.18,7001.93,4531.1,2324.77,150698.4,37452.12,113246.28,0,113246.28

### 재무상태표 db로부터 불러오기

In [20]:
bs_data = kse.get_bs_from_db('005930', '2022/03', server, port, user, password, db)

In [21]:
bs_data

,stock_code,period,rpt_type,자산,유동자산,비유동자산,부채,유동부채,비유동부채,자본
0,005930,2022/03,CONSOLIDATED_Q,4393269.59,2323690.82,2069578.77,1240360.4,904637.01,335723.39,3152909.19

### 현금흐름표 db로부터 불러오기

In [6]:
cf_data = kse.get_cf_from_db('005930', '2022/03', server, port, user, password, db)

In [7]:
cf_data

,stock_code,period,rpt_type,영업활동으로인한현금흐름,당기순손익,법인세비용차감전계속사업이익,현금유출이없는비용등가산,(현금유입이없는수익등차감),영업활동으로인한자산부채변동(운전자본변동),*영업에서창출된현금흐름,...,재무활동으로인한현금흐름,재무활동으로인한현금유입액,(재무활동으로인한현금유출액),기타재무활동으로인한현금흐름,영업투자재무활동기타현금흐름,연결범위변동으로인한현금의증가,환율변동효과,현금및현금성자산의증가,기초현금및현금성자산,기말현금및현금성자산
0,005930,2022/03,CONSOLIDATED_Q,104530.69,113246.28,0,162029.7,22972.4,-142333.15,109970.43,...,-4953.46,2140.34,7089.19,-4.61,0,0,5923.55,99135.67,390314.15,489449.82

### Trailing 데이터 생성

In [5]:
trailing_data = kse.get_trailing('005930', '2022/03', server, port, user, password, db)

2022/03 2021/12 2021/09 2021/06

In [6]:
trailing_data

,stock_code,period,rpt_type,매출액,매출원가,매출총이익,판매비와 관리비,영업이익,금융이익,금융원가,...,재무활동으로인한현금흐름,재무활동으로인한현금유입액,(재무활동으로인한현금유출액),기타재무활동으로인한현금흐름,영업투자재무활동기타현금흐름,연결범위변동으로인한현금의증가,환율변동효과,현금및현금성자산의증가,기초현금및현금성자산,기말현금및현금성자산
0,005930,2022/03,CONSOLIDATED_Q,2919977.94,1719834.14,1200143.8,636419.83,563723.97,98067.38,87439.9,...,-238920.56,2723.13,36540.16,-205103.53,5513,0,15974.05,79053.91,1434298.34,1513352.25

# 5. 종목 찾기

### 종목 찾기

In [7]:
df_factor = data # db에서 불러왔던 수정주가
term = t

In [8]:
df_factor

,stock_code,period,open,high,low,close,volume,시가총액,상장주식수
0,000020,2022/03,14800.0,15350.0,11250.0,13650.0,214548.0,3.812646e+11,27931470.0
1,000040,2022/03,867.0,1045.0,720.0,889.0,417614.0,8.546612e+10,96137368.0
2,000050,2022/03,13750.0,16000.0,13400.0,15950.0,42169.0,4.372736e+11,27415270.0
3,000060,2022/03,33300.0,53500.0,33300.0,47450.0,298202.0,5.723656e+12,120625000.0
4,000070,2022/03,98300.0,99000.0,79900.0,86100.0,13667.0,7.373837e+11,8564271.0
...,...,...,...,...,...,...,...,...,...
778,402340,2022/03,66900.0,70500.0,49050.0,56800.0,635073.0,8.035358e+12,141467571.0
779,404990,2022/03,5000.0,5160.0,4705.0,5120.0,410552.0,2.864941e+11,55955884.0
780,417310,2022/03,5260.0,5590.0,5260.0,5580.0,565297.0,2.254320e+11,40400000.0
781,900140,2022/03,3740.0,3740.0,3025.0,3415.0,270314.0,3.396398e+11,99455297.0
782,950210,2022/03,20900.0,22500.0,12850.0,20300.0,511003.0,1.219952e+12,60096155.0

### PER 값 계산

In [9]:
df_factor = kse.getPER(df_factor, term, server, port, user, password, db)

100%|████████████████████████████████████████████████████████████████████████████████| 783/783 [00:16<00:00, 46.17it/s]

In [10]:
MKTCAP_top = 0.2
n = 30
factor_list = ['PER']

In [11]:
kse.stock_select(df_factor, MKTCAP_top, n, factor_list)

['052690',
 '138040',
 '024110',
 '035250',
 '336370',
 '112610',
 '008770',
 '019170',
 '003410',
 '251270',
 '010620',
 '329180',
 '010140',
 '020560',
 '175330',
 '009540',
 '249420',
 '042660',
 '015760',
 '011200',
 '139480',
 '036460',
 '001230',
 '034730',
 '267250',
 '000880',
 '003550',
 '004020',
 '383220',
 '001040']

### PBR 값 계산

In [12]:
df_factor = kse.getPBR(df_factor, term, server, port, user, password, db)

100%|████████████████████████████████████████████████████████████████████████████████| 783/783 [00:15<00:00, 51.13it/s]

In [13]:
MKTCAP_top = 0.2
n = 30
factor_list = ['PBR']

In [14]:
kse.stock_select(df_factor, MKTCAP_top, n, factor_list)

['000880',
 '001040',
 '000150',
 '267250',
 '023530',
 '015760',
 '034730',
 '139480',
 '004020',
 '069960',
 '006260',
 '004990',
 '036460',
 '004170',
 '005490',
 '005380',
 '402340',
 '011170',
 '003550',
 '011210',
 '097950',
 '034220',
 '161390',
 '029780',
 '006800',
 '009540',
 '001230',
 '005940',
 '002790',
 '000720']

### PER, PBR

In [15]:
MKTCAP_top = 0.2
n = 30
factor_list = ['PER', 'PBR']

In [16]:
kse.stock_select(df_factor, MKTCAP_top, n, factor_list)

['052690',
 '035250',
 '112610',
 '336370',
 '008770',
 '019170',
 '003410',
 '251270',
 '010620',
 '329180',
 '010140',
 '009540',
 '175330',
 '015760',
 '139480',
 '034730',
 '000880',
 '036460',
 '267250',
 '001230',
 '001040',
 '004020',
 '003550',
 '042660',
 '020560',
 '006260',
 '011200',
 '005490',
 '004170',
 '402340']